.mainScreen {
    background-repeat: no-repeat;
    background-image: url("../public/assets/background/home.svg");
}

.homeScreen {
    background-repeat: no-repeat;
    background-image: url("../public/assets/background/home1.svg");
}

